/* HEADER */
/* HEADER */
.nav {
    padding:8px;
    top: 0px;
}
.sokfelt {
    margin-top: 8px;
}
.navbar-default {
   top: 0px;
   position: fixed;
   z-index: 999999;
}
/* HEADER */
/* HEADER */

/* HEADER BILDE */
/* HEADER BILDE */
.headerBilde {
    margin-top: 50px;
    color: white;
    position: relative;
    height: 264px;
    width: 100%;
    background-image: url('https://images.unsplash.com/photo-1454897834822-1ece264a5d89?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=3a5615c0bc77123ece2a2663e2640341');
    background-size: 100% auto;
    background-position: top center;
    background-attachment: fixed;
    overflow: hidden;
    z-index: -1;
    margin-top: 50px;
}
/* HEADER BILDE */
/* HEADER BILDE */

/* INNHOLD */
/* INNHOLD */

/* container */
.container {
    z-index: 1;
    margin-top: -80px;
}
/* container */

/* Bestill reise boks */
.bestillReiseBoks {
    background-color: #A593E0;
    padding:8px;
    padding-bottom: 46px;
    min-height: 208px;
    margin-bottom: 16px;
    z-index: 1;
    box-shadow: 0px 8px 8px 2px rgba(0,0,0,0.2);
}
.bestillReiseBoks .btn-default {
    position: absolute;
    bottom: 8px;
    right: 8px;
    background-color: #EFDC05;
    border-color: #EFDC05;
    box-shadow: 0px 8px 16px 1px rgba(0, 0, 0, 0.2);
    color: #333;
}
.bestillReiseBoks .btn-default:hover {
    color: #333;
    background-color: #ddcc05;
    border-color: #ddcc05;
}
.radio {
    color: white;
}
.bestillReiseBoks h4 {
    color: white;
}
.bestillReiseBoks label {
    color: white;
}
/* Bestill reise boks */

/* INNHOLD */
/* INNHOLD */

/* FOOTER */
/* FOOTER */
footer {
    height: 150px;
    background-color: white;
    padding: 50px;
    color: #566270;
}
/* FOOTER */
/* FOOTER */

/* VELG FLY */
/* VELG FLY */

/* reise info */
.reiseInfo {
    min-height: 64px;
    background-color: #A593E0;
    padding: 8px;
    color: white;
    margin-top: 130px;
}

.reiseInfo .btn-default {
    bottom:8px;
    right:8px;
}
/* reise info */

.btn.btn-default.pull-right {
    background-color:#EFDC05;
    border-color: #EFDC05;
    margin-bottom: 16px;
}
.btn.btn-default.pull-right:hover {
    background-color:#ddcc05;
    border-color: #ddcc05;
}

/* VELG FLY */
/* VELG FLY */

/* PRISSIDE */
/* PRISSIDE */
.prisboks {
    margin-top: 15%;
    margin-bottom: 200px;
}
.prisboks .btn-default {
    bottom:8px;
    right:8px;
}
.prisboks.btn.btn-default.pull-right {
    bottom: 8px;
    right: 8px;
}
/* PRISSIDE */
/* PRISSIDE */

/* BEKREFTREISE */
/* BEKREFTREISE */
.fa-5 {
  font-size: 5em !important;
  color: #75D701;
  }
/* BEKREFTREISE */
/* BEKREFTREISE */

/* Registrer Reisende */
/* Registrer Reisende */
.reisende {
    margin-bottom: 36px;
}
.totaltReisende {
    width: 30px;
    position: relative;
    display: inline-block;
}
.inline {
    display: inline-block;
}
/* Registrer Reisende */
/* Registrer Reisende */
